<!-- Nav Bar -->
<nav class=" navbar navbar-custom navbar-expand-lg fixed-top navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Rent-A-Driver</a>
    </div>
</nav>
