<!DOCTYPE html>
<html>

    <head>
        <title>Login</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="./css/main.css">
    </head>

    <body>
        <h2>Verify Email</h2>
        <form action="/otp/verify" method="POST">
            <div>
              <label for="password">Enter OTP</label>
              <input type="text" name="password" id="password">
              <input type="hidden" name="email" id="email" value="<%= email %>">
            </div>
            <div>
              <button>Send my greetings</button>
            </div>
          </form>
    </body>

</html>