body {
    background: linear-gradient(rgba(129, 161, 193, 0.7), rgba(129, 161, 193, 0.7)), url('/img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;   
}

img {
    width: 150px;
    border-radius: 50%;
  }

.leftside, .rightside {
    height: 100vh;
    width: 100%;
}

.leftside {
    display: flex;
    flex-direction: column;
}

.rightside {
    display: flex;
    flex-direction: column;
}

.middlediv h2 {
    text-align: center;
}

.button {
    border: none;
    width: 100px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: #008CBA; 
    color: white;
}
  
.button1:hover {
    background-color: white;
    color: #008CBA;
}

.button2 {
    background-color: white; 
    color: #008CBA; 
}
  
.button2:hover {
    background-color: #008CBA;
    color: white;
}