body {
    background: linear-gradient(rgba(129, 161, 193, 0.7), rgba(129, 161, 193, 0.7)), url('/img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    margin-bottom: 5%;
}

.form-box {
    margin-top: 10%;
}

.form-title {
    font-size: 35px;
    text-align: center;
}