body {
    background: linear-gradient(rgba(255,255,255,.7), rgba(255, 255, 255, 0.7)), url('/img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;   
}

.form-box {
    margin-top: 10%;
}

.form-title {
    font-size: 35px;
    text-align: center;
}