body {
    /* padding: 50px; */
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: linear-gradient(rgba(129, 161, 193, 0.1), rgba(129, 161, 193, 0.1)), url('/img/image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.navbar-custom {
    /*background: linear-gradient(to bottom, rgba(11, 27, 103, 1) 40%, rgba(0, 0, 0, 0) 100%);*/
    background: rgba(0,0,0,0.5);

}

.nav-pills .nav-link.active {
    background-color: grey !important;
    /* background: yellow !important; */
    border-color: rgb(194, 103, 0);
    border: 0.5px solid;
}
@media (max-width: 992px) {
    .navbar-nav.nav-pills {
        display: block;
        text-align: center;
        text-transform: capitalize;
        justify-content: center;
        padding-top: 10px;
    }
    .largescreen {
        display: none;
    }
}
/*--------------------------------------------------------------
# usr_inf Section
--------------------------------------------------------------*/
#usr_inf {
    width: 100%;
    height: 40vh;
    /* background: url("../img/blood-cells-red-cell-illustration-wallpaper-preview.jpg") top center; */
    background-size: cover;
    position: relative;
}

#usr_inf:before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#usr_inf .container {
    padding-top: 80px;
    padding-bottom: 30px;
}

#usr_inf h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
}

#usr_inf h2 {
    color: #eee;
    /* margin-bottom: 30px; */
    font-size: 24px;
}

#usr_inf p {
    color: #eee;
    /* margin-bottom: 30px; */
    font-size: 24px;
}

@media (min-width: 1024px) {
    #usr_inf {
        background-attachment: fixed;
    }
}

@media (max-width: 768px) {
    #usr_inf {
        text-align: center;
    }
    #usr_inf .container {
        padding-top: 60px;
    }
    #usr_inf h1 {
        font-size: 28px;
        line-height: 36px;
    }
    #usr_inf h2 {
        font-size: 18px;
        line-height: 24px;
        /* margin-bottom: 30px; */
    }
}

/*--------------------------------------------------------------
# card Section
--------------------------------------------------------------*/

#dcard {
    margin-bottom: 20px;
    padding-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
.card {
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    background: rgba(0,0,0,0.5);
}

/*--------------------------------------------------------------
# search_sel
--------------------------------------------------------------*/

.search_sel {
    padding: 10px;
}
